body{
  background-image:url('C:\Users\User\Downloads\wp9081757-gaming-computer-4k-wallpapers.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}

.text{
  color:orangered;
  font-weight:600;
}

.navbar-brand
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 500px;
}
.navbar-brand span{
  color:red;
}
.logo {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.icon {
  animation-duration: 10s;
  animation-name: bounce;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(100);
  }
}

